/* CSS */

/* Intro to Quiz */

#intro {
    text-align: center;
    color: floralwhite;
    
}

#greetingInput {
    text-align: center;
    color: floralwhite;
    

}

body {
    background-color: rosybrown;
    text-align: center;
}

